<%- include("partials/header.ejs") %>

<div class="container my-3 p-3 bg-body rounded shadow-sm">
  <h1>Post</h1>

  <% if(locals.editpost){ %>
    <form action="/submit" method="POST">
      <p>Title</p>
      <input name="title" type="text" class="feedback-input"  placeholder="Title" value="<%= editpost.title%>" />
      <p>Your Name</p>
      <input name="name" type="text" class="feedback-input"  placeholder="Name" value="<%= editpost.names%>" />
      <p>Content</p>
      <textarea name="text" class="feedback-input" placeholder="Content"><%= editpost.contentTexts %></textarea>
      <input type="submit" class="btn btn-primary" value="Update" />
      <input type="hidden" name="id" value="<%= editpost.id %>">
    </form>

  <% }else{%>
    <form action="/submit" method="POST">
      <p>Title</p>
      <input name="title" type="text" class="feedback-input" placeholder="Title" />
      <p>Your Name</p>
      <input name="name" type="text" class="feedback-input" placeholder="Name" />
      <p>Content</p>
      <textarea name="text" class="feedback-input" placeholder="Content"></textarea>
      <input type="submit" class="btn btn-primary" value="SUBMIT" />
    </form>
  <%}%>


</div>

